body{
  background-color: #212121;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
  height: fit-content;
}

hr {
  background-color: white;
  border-color: white;
  height: 2px;
}

h2 {
  text-align: center;
  margin: 15px 15px 0 15px;
}

p {
  font-weight: bold;
  margin: 0 0 5px 10px;
}

.wrapper button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.section {
  max-width: 270px;
}

.item {
  background-color: #212121;
  margin: 5px;
  padding: 5px 5px;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 10px;
}

/* .item:hover {
  background-color: #313131;
} */

.name {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.checks {
  color: white;
  height: auto;
  list-style-type: none;
}

.info-popup {
  height: 12px;
  width: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.info-popup:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.check-item {
  display: flex;
  align-items: center;
}

.info-container {
  position: relative;
}

.info-content {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 10px;
  min-width: 100px;
  max-width: 200px;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 3px;
}

.info-container.show .info-content {
  display: block;
}

.checklist {
  float: left;
  width: 75%;
}

.tracker {
  right: 10px;
  position: fixed;
}

.hints {
  margin-top: 10px;
  padding: 1px;
  max-height: 475px;
  overflow-y: scroll;
  position: relative;
}

.hints::-webkit-scrollbar {
  display: none;
}

.hint-item  {
  padding: 2px;
}

.hints input {
  background-color: #444;
  border: none;
  color: white;
  width: 170px;
  font-size: 15px;
  height: 30px;
}

input:hover {
  background-color: #555;
}

.hints img {
  vertical-align: bottom;
  margin-right: 5px;
}

.hints ul {
  position: absolute;
  list-style: none;
  background-color: white;
  color: black;
  margin: 0 0 0 35px;
  padding: 0;
  width: 150px;
}

.hints li {
  padding: 1px;
  margin: 0;
  cursor: pointer;
}

.hints li:hover {
  background-color: #dddddd;
}

ul li.active {
  background-color: #007bff;
  color: #ffffff;
}

.tracker-item .count {
  position: absolute;
  font-size: 12px;
  right: 0;
  bottom: 0;
  background: #000;
  border-radius: 10px;
  color: #ddd;
  padding: 1px 3px;
  display: none;
}

.tooltip {
  position: absolute;
  background-color: #555;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}

.popout-button {
  background-color: #ddd;
  border-radius: 2px;
  margin: 10px;
  padding: 3px;
  cursor: pointer;
}

.popout-button:hover {
  background-color: #a9e1ff;
}
